[Unit]
Description=rotateproxy server
Documentation=rotateproxy - get socks5 from fofa
After=network.target auditd.service

[Service]
ExecStart=/usr/local/bin/rotateproxy -l :5555 -user rotateproxy -pass rotateproxy -token ... -email '0x727team@gmail.com'
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=rotateproxy.service
